# Clojure
/.clj-kondo
/.lsp
*/target/*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

public/

*.swp

.hugo_build.lock

# Clojure

/resources
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

target/*
/**/target
/**/target/*

.nrepl-port
