<br />
<div id="footer">
  <span class="text-muted">
    <a class="text-dark" href="{{ .Site.BaseURL }}">
      <!-- Site title. -->
      {{ .Site.Title }}</a
    >
    &middot; {{ .Site.Params.copyright }}
  </span>
  <hr />
  <div id="footer-data">
    <div>
      Work publicized under the
      <a
        href="https://creativecommons.org/licenses/by-sa/4.0/legalcode"
        class="text-muted"
        target="_blank"
        rel="license noopener"
        >CC BY-SA 4.0</a
      >
      license
    </div>
    <div>
      Source code available at
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/ryanfleck/manuals"
        >github.com/ryanfleck/manuals</a
      >
    </div>
    <div>
      Deployed via Netlify at
      <a target="_blank" href="https://manuals.ryanfleck.ca"
        >manuals.ryanfleck.ca</a
      >
    </div>
    <div>Development target RCF.19.2.78</div>
    <br />
    <div>
      Read more at
      <a target="_blank" href="https://ryanfleck.ca">ryanfleck.ca</a>
    </div>
  </div>
</div>
<br />
