<head>
  <!-- Page Title-->
  <title>{{ .Site.Title }}{{ if .Title }}: {{ .Title }}{{end}}</title>

  <!-- Basic Metadata -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <!-- CSS -->
  <!-- Code Styles -->
  {{ $codeStyles := resources.Get "css/code-light.css" | minify | resources.Fingerprint "md5" }}
  <link rel="stylesheet" href="{{ $codeStyles.Permalink }}">

  {{ $darkCodeStyles := resources.Get "css/code-dark.css" | minify | resources.Fingerprint "md5" }}
  <link rel="stylesheet" href="{{ $darkCodeStyles.Permalink }}" media="(prefers-color-scheme: dark)">

  <!-- Primary Styles -->
  {{ $styles := resources.Get "css/style.css" | minify | resources.Fingerprint "md5" }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">

  {{ $darkStyles := resources.Get "css/dark.css" | minify | resources.Fingerprint "md5" }}
  <link rel="stylesheet" href="{{ $darkStyles.Permalink }}" media="(prefers-color-scheme: dark)">



  <!-- Font-Awesome -->
  <!-- Download at https://fontawesome.com/download and extract to /static/fa/ -->
  <link href="/fa/css/all.min.css" rel="stylesheet" />

  <script type="application/javascript" src="/scripts.js" async defer></script>

  <!-- Canonical URL -->
  <link rel="canonical" href="{{ .Permalink }}" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Page Description -->
  {{ if .Summary }}
  <meta property="og:description" content="{{ .Summary }}" />
  <meta name="twitter:description" content="{{ .Summary }}" />
  <meta itemprop="description" content="{{ .Summary }}" />
  {{ end }}

  <!-- Twitter & FB Meta -->
  <meta property="og:title" content="{{ .Title }}" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta itemprop="name" content="{{ .Title }}" />
  <meta name="twitter" content="{{ .Title }}" />

  <!--OpenGraph-->
  <meta property="og:locale" content="en_CA" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{.Permalink }}" />
  <meta property="og:site_name" content="The Programming Manual" />
  <meta property="og:article:author" content="Ryan Fleck" />
  <meta property="og:profile:first_name" content="Ryan" />
  <meta property="og:profile:last_name" content="Fleck" />
  <meta property="og:profile:username" content="RyanFleck" />

  <!--Twitter-->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@RyanFleck_Dev" />
  <meta name="twitter:image:src" content="https://ryanfleck.ca/r.jpg" />

  <!-- HTMX -->
  {{ $htmx := resources.Get "/js/htmx.min.js" | resources.Minify | resources.Fingerprint "md5" }}
  <script async defer type="application/javascript" src="{{ $htmx.Permalink }}"></script>

  <!-- Privacy Violating Garbage, hope you use Ad-Blockers -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async defer
    src="https://www.googletagmanager.com/gtag/js?id=G-73R7RN5E5Z"
  ></script>
  <script async defer>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-73R7RN5E5Z");
  </script>
</head>
