<head>
  <title>{{ .Site.Title }}{{ if .Title }}: {{ .Title }}{{end}}</title>

  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link href="/style.css" rel="stylesheet" />
  <script type="application/javascript" src="/scripts.js" async defer></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-73R7RN5E5Z"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-73R7RN5E5Z");
  </script>
</head>
