<br />
<br />
<h3>Site Directory</h3>
<ul>
  <li>
    <b>
      <a href="{{ .Site.BaseURL }}">Homepage</a>
    </b>
  </li>
  {{ range .Site.Sections.ByWeight }}
  <li>
    <b class="directory-section">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </b>
    <ul>
      {{ range .Pages.ByLastmod.Reverse }} {{ if (not .Params.unlisted)}}
      <li>
        <a href="{{ .Permalink }}" class="manual-link">
          <!-- Title -->
            <b>{{ .Title }}</b>
          <small>
            ~{{ .ReadingTime}}m skim,
            {{ lang.FormatNumberCustom 0 .WordCount "- . ," }} words
          </small>
          <!-- Draft Badge -->
          {{ if .Draft }}<span style="color: red">&=</span>{{ end }}
        </a>
      </li>
      {{ end }} {{ end }}
    </ul>
  </li>
  {{ end }}
</ul>
<p><small>Pages are organized by <b>last modified</b>.</small></p>
<br />
