{{ define "main" }}
<main>
  <h1 class="mt">{{ .Title }}</h1>

  {{ if .Content }} {{ .Content }} {{ end }}

  <ol reversed>
    {{ range .Pages.ByLastmod.Reverse }} {{ if (not .Params.unlisted) }}
    <li>
      <a href="{{.Permalink}}" class="manual-link">
        <b>{{ .Title }}</b>
        <!-- Draft Badge -->
        {{ if .Draft }}<span style="color: red">&=DRAFT</span>{{ end }}
        <small>
            ~{{ .ReadingTime}}m skim,
            {{ lang.FormatNumberCustom 0 .WordCount "- . ," }} words,
           updated {{ .Lastmod | time.Format ":date_medium" }}
          </small>
      </a>
    </li>
    {{ end }} {{ end }}
  </ol>


    {{ $title := .Title }}
    <p><i><small>This content list is also available as
      {{ with .OutputFormats.Get "markdown" }}
      <a class="" href="{{.Permalink}}" target="_blank"
         title="Read markdown version of list '{{ $title }}'">markdown</a>
        {{ end }}
      and
      {{ with .OutputFormats.Get "json" }}
      <a class="" href="{{.Permalink}}" target="_blank"
         title="Read json version of list '{{ $title }}'">json</a>
      {{ end }}
      data.
    </small></i></p>

</main>
{{end}}
