/* Fonts */

/* JBM */

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jbm/web/woff2/JetBrainsMono-Regular.woff2") format("woff2"),
    url("/fonts/jbm/web/woff/JetBrainsMono-Regular.woff") format("woff"),
    url("/fonts/jbm/web/eot/JetBrainsMono-Regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jbm/web/woff2/JetBrainsMono-Bold.woff2") format("woff2"),
    url("/fonts/jbm/web/woff/JetBrainsMono-Bold.woff") format("woff"),
    url("/fonts/jbm/web/eot/JetBrainsMono-Bold.eot") format("eot");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jbm/web/woff2/JetBrainsMono-Bold-Italic.woff2")
      format("woff2"),
    url("/fonts/jbm/web/woff/JetBrainsMono-Bold-Italic.woff") format("woff"),
    url("/fonts/jbm/web/eot/JetBrainsMono-Bold-Italic.eot") format("eot");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jbm/web/woff2/JetBrainsMono-Italic.woff2") format("woff2"),
    url("/fonts/jbm/web/woff/JetBrainsMono-Italic.woff") format("woff"),
    url("/fonts/jbm/web/eot/JetBrainsMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Plex */

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* CSS RESET: https://github.com/hankchizljaw/modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0px;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Page HTML/CSS */
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  padding: 0.5rem;
  font-size: 16px;
  background: #fff1ae;
  color: black;
  min-width: 300px;
  overflow-x: hidden;
}

html,
button,
body,
textarea,
pre,
.highlight,
p,
div,
code,
span {
  /* These are not enforced if not important, wcyd? */
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: auto !important;
  font-family: "JetBrains Mono", "IBM Plex Mono", "SFMono-Regular", Consolas,
    "Liberation Mono", "Noto Mono", Menlo, Courier, monospace !important;
  font-variant-ligatures: normal;
  -webkit-font-feature-settings: "liga" on, "calt" on;
  font-feature-settings: "liga" on, "calt" on;
  text-rendering: optimizeLegibility;
  font-size: 16px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table,
footer {
  margin: 0 auto;
  max-width: 600px;
  margin-top: 1em;
}

blockquote {
  font-style: italic;
  color: rgb(69, 0, 197);
}

blockquote > p {
  border-left: 2px solid rgb(222 205 255);
  padding-left: 10px;
}

.footnotes > hr {
  display: none;
}

li > ul,
li > ol {
  margin: 0;
}

/*
@media only screen and (min-width: 800px) {
  body {
    max-width: 590px;
  }
  html {
    font-size: 18px;
  }
}
*/

a {
  color: rgb(69, 0, 197);
  text-decoration: none;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: underline;
}

ul,
ol {
  list-style: decimal-leading-zero;
}

.navbar-brand {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  margin-bottom: 0.2em;
}
.navbar-nav {
  margin-top: 0.3em;
}

code {
  color: rgb(0, 1, 66);
  font-family: "Courier New", Courier, monospace;
}

article > div.highlight {
  overflow-x: auto;
  padding: 0;
  /*
  border-radius: 5px;
  border: 1px solid #dbce8a;
  */
}

article > pre,
article > div.highlight pre {
  width: 100%;
  padding-left: calc(50vw - 310px);
}

@media only screen and (min-width: 600px) {
  li > .highlight {
    margin-right: calc(310px - 50vw);
  }
}

pre {
  overflow: auto;
  background-color: transparent !important;
}

hr {
  border: none;
  border-top: 1px solid #dbce8a;
}

/* Webkit Scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #fff1ae;
}

::-webkit-scrollbar-thumb {
  /* background: #dbce8a; */
  background: #ecd873;
}

#title-link {
  color: black;
}

#navbar-hr {
  margin: 0px;
  padding: 0px;
}

/* Footnotes */

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

sup.footnote-ref > a {
  color: grey;
  font-size: 0.5rem;
}
