/* Fonts */

/* JBM */

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jbm/web/woff2/JetBrainsMono-Regular.woff2") format("woff2"),
    url("/fonts/jbm/web/woff/JetBrainsMono-Regular.woff") format("woff"),
    url("/fonts/jbm/web/eot/JetBrainsMono-Regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jbm/web/woff2/JetBrainsMono-Bold.woff2") format("woff2"),
    url("/fonts/jbm/web/woff/JetBrainsMono-Bold.woff") format("woff"),
    url("/fonts/jbm/web/eot/JetBrainsMono-Bold.eot") format("eot");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jbm/web/woff2/JetBrainsMono-Italic.woff2") format("woff2"),
    url("/fonts/jbm/web/woff/JetBrainsMono-Italic.woff") format("woff"),
    url("/fonts/jbm/web/eot/JetBrainsMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* CSS RESET: https://github.com/hankchizljaw/modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h4 {
    font-size: 1.2rem;
}

h5, h6, h7 {
    font-size: 1.1rem;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0px;
  padding-right: 1rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

pre.example{
    margin-top: 0;
}

pre.example::before{
    content: "=>  ";
    color: #fba8a8;
    display: inline-block;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

img {
  /* border: 1px solid #ecd873; */
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: none;
}

figure.noborder > img,
.noborder {
    border: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Page HTML/CSS */
html {
  /* scroll-behavior: smooth; */
  overflow-y: scroll;
  min-width: 300px;
  overflow-x: hidden;
}
/* Set core body defaults */
:root, html, body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 16px;  /* This is the base font size for all pages. */
  background: #fffccc;
  color: black;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}

button,
body,
textarea,
pre,
.highlight,
.src,
p,
div,
code,
table{
  /* These are not enforced if not important, wcyd? */
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: auto !important;
  font-family: "JetBrains Mono", "SFMono-Regular", Consolas, Monaco, "Liberation Mono",
    "Noto Mono", Menlo, Courier, "Courier New", monospace !important;
  font-variant-ligatures: normal;
  -webkit-font-feature-settings: "liga" on, "calt" on;
  font-feature-settings: "liga" on, "calt" on;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
}

.highlight,
.src,
code {
  font-size: 1rem;
}

div {
  overflow: auto;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
main > p,
body > p,
div.outline-text-1 p,
div.outline-text-2 p,
div.outline-text-3 p,
div.outline-text-4 p,
div.outline-text-5 p,
main > ol,
main > ul,
body > ul,
body > ol,
body > div ul,
body > div ol,
body > blockquote,
main > blockquote,
nav > ul,
nav > ol,
.footnotes > ol,
table,
figure,
div.footnotes,
#page-info,
#info-column,
#footer {
    /* margin: 0 auto */
    max-width: 800px;
    margin-top: 1em;
    margin-left: 2rem;
    padding-right: 2rem;
}

.noleftpad > ul,
.nolefpad ul,
.noleftpad{
    margin-left: 0px;
}

pre.text-result{
    color: #228b22;
    margin-top: -0.5em;
}

.footnote-body{
    display: inline-block;
}

div ol > p,
div ul > p,
div li > p {
    padding: 0 !important;
    margin: 0 !important;
}

div li > ul,
div li > ol {
    margin-top: 0px;
    margin-left: 0.5rem;
}


ul {
    padding-left: 1.5rem;
}

nav > ul {
    padding-left: 3rem;
}

body {
    /* padding-left: 1em; */
}

figure img {
  cursor: zoom-in;
}

figcaption {
  font-size: 0.9rem;
  color: #a19762;
  margin-left: 0.7rem;
  margin-top: 0.2rem;
}

.footnotes::before {
  content: "Footnotes";
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}

.footnotes {
  padding-top: 3rem;
}

figcaption a {
  color: #7f5bc3;
}

blockquote {
  font-style: italic;
  color: rgb(69, 0, 197);
  border-left: 2px solid rgb(222 205 255);
  margin-left: 2rem;
}

blockquote p {
    margin-left: 1rem !important;
}

blockquote > p:not(:first-child) {
    padding-top: 1rem;
}

.footnotes > hr {
  display: none;
}

li > ul,
li > ol {
  margin: 0;
}

/*
@media only screen and (min-width: 800px) {
  body {
    max-width: 590px;
  }
  html {
    font-size: 18px;
  }
}
*/

a {
    color: rgb(69, 0, 197);
    text-decoration: none;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: normal;
    border-radius: 3px;
    background-color: transparent;

    /* Transitions */
    transition: color 0.4s;
    transition: background-color 0.4s;
}

a:visited{
    color: #a048b9;
}

a:hover {
    background-color: #f4ccff47;
    text-decoration: underline;

    /* Transitions */
    transition: color 0.2s;
    transition: background-color 0.2s;
}

a:active{
    color: #d05151;
    background-color: #ffe9e9;
}

#jumper {
    position: fixed;
    padding: 10px;
    background: #fffccc;
    box-shadow: 0 0 10px #fffccc;
    border-bottom-left-radius: 1rem;
    top: 0;
    right: 0;
    opacity: 0.4;
    transition: opacity 0.3s;

}

.jumperstyle{
    font-size: 16px;
}

#jumper:hover {
    opacity: 1;
    transition: opacity 0.3s;
}

h1#page-title a:visited {
    color: black;
}

.header-anchor-link {
  opacity: 0;
  transition: 0.3s;

  /* From Scripts.js */
  float: left;
  margin-left: -20px;
  font-size: 0.7em;
  padding-top: 0.38em;
  padding-right: 0em;
}

h1:hover > .header-anchor-link,
h2:hover > .header-anchor-link,
h3:hover > .header-anchor-link,
h4:hover > .header-anchor-link,
h5:hover > .header-anchor-link,
h6:hover > .header-anchor-link {
  opacity: 1;
  transition: 0.5s;
}

@media (max-width: 600px) {
  .header-anchor-link {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: underline;
}

nav ul,
ol {
  list-style: decimal-leading-zero;
}

ul {
  list-style: square;
}

.navbar-brand {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}

#page-title {
    padding: 0;
    margin: 0;
    margin-left: 2rem;
    padding-top: 1rem;
}

.navbar-nav {
  margin-top: 0.3em;
}

code {
  color: rgb(121, 10, 10);
  font-family: "JetBrains Mono", "SFMono-Regular", Consolas, Monaco, "Liberation Mono",
    "Noto Mono", Menlo, Courier, "Courier New", monospace !important;
}

div.highlight,
div.src {
  overflow-x: auto;
  padding: 0;
  /*
  border-radius: 5px;
  border: 1px solid #dbce8a;
  */
}

pre {
    width: 100%;
    padding-left: 2rem;
  /* padding-left: calc(50vw - 310px); */
}

/* @media only screen and (min-width: 600px) { */
/*     li > .highlight, */
/*     li > .src { */
/*     margin-right: calc(310px - 50vw); */
/*   } */
/* } */

pre {
  overflow: auto;
  background-color: transparent !important;
}

hr {
  border: none;
  border-top: 1px solid #dbce8a;
}

/* Webkit Scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #fffccc;
}

::-webkit-scrollbar-thumb {
  /* background: #dbce8a; */
  background: #ecd873;
}

#title-link {
  color: black;
}

#navbar-hr {
  margin: 0px;
  padding: 0px;
}

/* Footnotes */

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

sup.footnote-ref > a {
  color: grey;
  font-size: 0.5rem;
}

/* Header links */

.header-anchor-link {
  opacity: 0.1;
  transition: opacity 0.3s linear !important;
}

h1:hover > .header-anchor-link,
h2:hover > .header-anchor-link,
h3:hover > .header-anchor-link,
h4:hover > .header-anchor-link,
h5:hover > .header-anchor-link,
h6:hover > .header-anchor-link {
  opacity: 1;
  transition: opacity 0.3s linear !important;
}

#footer-data div {
  font-size: 0.8rem;
}

table {
  text-align: left;
  border-spacing: 4px;
}

td, th {
padding-right: 1.5rem;
}

.faint,
.manual-link > small {
  color: #8e65d9;
}

p#article-subheading small,
p#article-subheading a,
p#article-subheading{
    margin-top: 0;
    padding-top: 0;
}


@media (max-width: 800px) {
    html, body, :root{
	font-size: 14px;
    }
}

/* No header anchor links on mobile */
@media (max-width: 500px) {
    html, body, :root{
	font-size: 12px;
    }
    .header-anchor-link {
	display: none;
    }
}

.chroma span.err,
.chroma span.kc{
    background-color: none;
    background: none;

}

.jesus {
    color: #a00;
}
