<h1 id="page-title" class="navbar-brand">
  <a class="navbar-brand" href="{{ .Site.BaseURL }}">
    Ryan's Manuals
    <!--{{ .Site.Params.long_site_title }}-->
  </a>
  <!--
      <hr id="navbar-hr" />
      -->
</h1>
<p class="navbar-nav ml-auto">
  <!-- Sections. -->
  {{ range $i, $e := .Site.Sections }}
  <span class="nav-item">
    {{- if $i -}} &middot;&nbsp; {{- end -}}
    <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
  </span>
  {{ end }} &middot;
  <!-- Other pages. -->
  {{ range (where site.RegularPages "Section" "") }}
  <span class="nav-item">
    <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
  </span>
  {{ end }}
</p>
