<h1>Memento Mori</h1>

<p>People ought to live with balance.</p>

<ul>
  <li>Mind</li>
  <li>Body</li>
  <li>Soul</li>
</ul>

<p>
  Neglecting any one of these three will result in a critical
  imbalance. Neither can they be regarded in isolation - we are all
  a <i>gestalt</i>, a whole greater than the sum of our interconnected
  parts. None of these areas should wither from lack of care.
</p>

<ul>
  <li>Mind - Education, fed with good problems</li>
  <li>Body - Exercise, fed with good nutrition</li>
  <li>Soul - Faith, fed with good wisdom</li>
</ul>

<p>
  You must also remember that you will die. As taught in
  Kerouac's <i>On the Road</i>, it is sometimes important to be
  childlike and see life with new and fascinated eyes, totally
  enraptured by the present and your physical senses.
</p>

<p>
  What all of this comes down to is striking a good balance between
  these three components - and with these <i>life</i> manuals, I hope
  to record my methods for each.
</p>
